@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans');

/* font-family: 'Open Sans', sans-serif;  -- matches well with bungeeInline*/
*{
  font-family: 'Bungee Inline', cursive;
  font-size: 15px;
}

body {
  background-color: rgba(141, 141, 141, 0.637);
  counter-reset: section;
}

.main-title {
  color:white;
  font-family: 'Bungee Inline', cursive;  
  font-size: 11vw;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.input-button-container {
  display: flex;
  align-items: center;
}

#main-todo-input {
  width: 200px;
  height: 35px;
  outline-color: green;
}

.button-addToDo {
  height: 35px;
  padding: 5px;
  font-size: 13px;
}

.toDo__item {
  color:black;
  font-size: 17px;
  width: 400px;
}

.list__li--active{
  
  text-decoration: line-through;
  text-decoration-color: green; 
}

li::before {
  counter-increment: section;                 /* Increment the value of section counter by 1 */
  content: counter(section) "." " "; 
}

li {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}

button {
  border-radius: 10px;
  padding: 5px;
  background-color: #7B7476;
  font-size: 13px;
  margin-left: 2px;
  outline-style: none;
  cursor: pointer;
}

.button__container {
  margin-left: 15px;
  display: flex;
}

input {
  border-radius: 10px;
  padding: 3px;
  width: 100px;
}


   /* Smartphones (portrait and landscape) ----------- */
   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 425px) {
      input {
        width:200px
      }
      #main-todo-input {
        width: 300px;
      }
    }
    
    /* Mid size Smartphones*/
    @media only screen and (min-width : 586px) {
      #main-todo-input {
        width: 400px;
      }
      input {
        width:300px
      }
    }
    
      /* iPads/Tablets */
      @media only screen and (min-width : 768px) {
        #main-todo-input {
          width: 500px;
        }
        input {
          width:400px
        }
      }
    
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 857px) {
      .main-title {
        font-size: 100px;
      }
    }
   